absss
.commenBar{
    background-color:yellow;
    border-color:red;
    border-width:0.5 px;
    border-radius:5 px;
}



.commenText{
    font-family: italicSystemFont ;
    color:black ;
    font-size: 30 px ;
    text-align : center;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight:bold;
    text: aaabbb;
}


.commenImage{
    background-image:image
}
