absss
.commenBar{
    background-color:yellow;
    border-color:red;
    border-width:0.5 px;
    border-radius:5 px;
}



.commenText{
    text: aaabbb;
    font-family: italicSystemFont ;
    color:black ;
    font-size: 30 px ;
    text-align : center;
    text-shadow: red;
}


.commenImage{
    background-image:image
}
