a
.commenBar{
    background-color:yellow;
    border-color:red;
    border-width:0.5 px;
    border-radius:5 px;
}



.commenText{
    text: aaabbb;
    color:black ;
    font-size: 30 px ;
    text-align : center;
}
